@font-face {
    font-family: 'DroidSans';
    src: url('../../fonts/DroidSans/DroidSansRegular/DroidSansRegular.eot');
    src: url('../../fonts/DroidSans/DroidSansRegular/DroidSansRegular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/DroidSans/DroidSansRegular/DroidSansRegular.woff') format('woff'),
    url('../../fonts/DroidSans/DroidSansRegular/DroidSansRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'DroidSans';
    src: url('../../fonts/DroidSans/DroidSansBold/DroidSansBold.eot');
    src: url('../../fonts/DroidSans/DroidSansBold/DroidSansBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/DroidSans/DroidSansBold/DroidSansBold.woff') format('woff'),
    url('../../fonts/DroidSans/DroidSansBold/DroidSansBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

