$width-container: 1200px;
$width-header-container: 1867px;

$main-color: #df001f;
$secondary-color: #333333;
$secondary-border-color: #e9e9e9;
$main-border-color: #dfdfdf;
$form-color: #282828;
$white: white;
$black: #000000;
$main-section-border: #d3d3d3;


$main-font: 'DroidSans', sans-serif;
$span-font: 'Open Sans', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$font-cursive: 'Great Vibes', cursive;

